
<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">

    <app-big-card
      Id="1"
      photoCover="https://imgs.search.brave.com/eRrYyxK44yuM6rdGTV1CgOxchpCjJvR_tpyL3JmcaW4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWRzLnNpdGVwb2lu/dC5jb20vd3AtY29u/dGVudC91cGxvYWRz/LzIwMTgvMDMvMTU4/NDQ5NTA3MG1lYW4t/c3RhY2stYW5ndWxh/ci5wbmc"
      cardTitle="Lorem Ipsum"
      cardDescribtion="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a consectetur tortor, ut auctor est. Vestibulum bland odio sed leo tempor egestas. Suspendisse tortor odio, maximus ac ante vel, venenatis euismod arcu. Quisque condimentum"></app-big-card>

  </div>

  <div class="articles_others">
    <app-small-card
      Id="2"
      photoCover="https://imgs.search.brave.com/vRCDyL8OvsZZMPcvjiJkFXIlyLNh4ogMVRNKfN-WFKA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/dGVjaGllZGlhcmll/cy5jb20vaW1hZ2Vz/LzIwMjAtMDgtMzEt/cGljdHVyZS1pbi1w/aWN0dXJlLWphdmFz/Y3JpcHQucG5n"
      cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      cardText="Cras a consectetur tortor, ut auctor est. Vestibulum blandit odio sed leo tempor egestas. Suspendisse tortor odio, maximus ac ante vel, venenatis euismod arcu. Quisque condimentum sed orci vel venenatis. "></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://imgs.search.brave.com/gWQirX-DocQT5bHiq5LrmdhHD2dXer6_pd69l8wMFWU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/dGVjaGllZGlhcmll/cy5jb20vaW1hZ2Vz/L2FuZ3VsYXItY2hh/dC10dXRvcmlhbC5w/bmc"
      cardTitle="Quisque condimentum sed orci vel venenatis."
      cardText="Quisque condimentum sed orci vel venenatis. Proin scelerisque, lorem quis sagittis scelerisque, orci urna pulvinar tellus, eu malesuada magna elit in risus. Donec facilisis nisi eros, in lobortis tortor convallis vel. Donec venenatis metus tempor odio rhoncus sagittis. "></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://imgs.search.brave.com/MESOMcQpfFL-4OTudBBcZpg-t7rYt-8lZ-9FVMe7KJo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4t/bWVkaWEtMS5mcmVl/Y29kZWNhbXAub3Jn/L2ltYWdlcy8xKmR4/YXdDd2ZsbEloOGxq/VWNSdHduWGcucG5n"
      cardTitle="Donec semper dolor purus, vitae accumsan orci ornare eget."
      cardText="Donec semper dolor purus, vitae accumsan orci ornare eget. Quisque tempus aliquam maximus. Quisque ante nunc, lobortis sit amet arcu id, porttitor ultrices eros. Morbi tristique pulvinar mauris vel commodo. Ut a urna fringilla, fringilla dolor eu, semper neque. Proin rutrum orci at dignissim condimentum."></app-small-card>

  </div>

</div>
